po/
m4/
*.o
*~
Makefile
Makefile.in
configure
config.*
.*
!.gitignore
*.m4
autom4te.cache/
build/
depcomp
install-sh
missing
ABOUT-NLS
monitor-*.spec
*.so
*.a
*.la
*~
stamp-h1
monitor/monitor
monitor

monitor.spec
