m4/
*.o
*~
Makefile
Makefile.in
configure
config.*
.*
!.gitignore
*.m4
autom4te.cache/
build/
depcomp
install-sh
missing
ABOUT-NLS
*.so
*.a
*.la
*~
stamp-h1
*.make
src/monitord
docs/*.tasmp
docs/*
!docs/monitor-docs.sgml
!docs/Makefile.am
docs/*/
!po/zh_CN.po
po/*
readme.*
/static-lib32
resource.zip
src/http_server/sym_404.h
build*/
*test.*
src/mgate
src/mgated
*.spec
mgate-*/
*.tar.gz
*.tar.bz2
i386/
*tags
mgate.cfg
mgate.cfg.in
*.rpm

mgate.service.in
mgate.service
