m4/
*.o
*~
Makefile
Makefile.in
configure
config.*
.*
!.gitignore
*.m4
autom4te.cache/
build/
depcomp
install-sh
missing
ABOUT-NLS
monitor-*.spec
*.so
*.a
*.la
*~
stamp-h1
monitor/monitor
monitor
*.make
monitor.spec
src/monitord
docs/*.tasmp
docs/*
!docs/monitor-docs.sgml
!docs/Makefile.am
docs/*/
!po/zh_CN.po
po/*
readme.*
/static-lib32
sms.cpp
smstraffic.cpp
smsapi.cpp
smstraffic.h
